:root{
  --dark-purple: #3a227c;
  --purple:#7209b7;
  --dark-blue: #07658b;
  --blue:#4361ee;
  --sky-blue:#1da1f2;
  --dark-green: #0e7459;
  --green: #4ec92a;
  --yellow:#fee440;
  --pink: #8b154c;
  --red: #f9517d;
}
